@model KatMemeABlazing.Server.Models.KatPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KatPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositiveVoteCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositiveVoteCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NegativeVoteCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NegativeVoteCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPromoted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPromoted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostAuthorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostAuthorNavigation.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostSection.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
